/* STYLE RESET*/
html, body, h1, h2, h3, h4, p, ul, li, div, a{
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	text-decoration: none;
}
/* PAGE GENERAL STYLE*/
body{
	font-family: Helvetica, Arial, sans-serif;
	background-color: black;
	color: seashell;
	font-size: 22px;
	opacity: 0.9;
	text-align: center;
}
h2{
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 0;
}
h3{
	font-weight: bold;
	font-size: 1.3em;
	padding: 10px 0;
}
h4{
	font-weight: bold;
	padding: 10px 0;
}
h5{
	font-weight: bold;
	font-size: 1.1em;
	margin: 20px 0;
}
p{
	padding: 20px 0;
}
/* HEADER SECTION*/
header{
	width: 100%;
	height: 69px;
	position: fixed;
	display: flex;
	z-index: 1;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: 1px solid seashell;
	background-color: black;
}
.logo img{
	height: 50px;
	padding-left: 10px;
}
nav{
	flex-grow: 1;
	text-align: right;
	padding-right: 10px;
}
nav span{
	padding: 10px 15px;
	display: inline-block;
}
div{
	border: 1px solid white;
}
a{
	color: seashell;
	text-decoration: underline;
}
/* MAIN CONTENT SECTION*/
.maincont{
	padding-top: 70px;
	width: 1200px;
	margin: auto;
}
/* MISSION SECTION*/
.mission{
	background-image: url('../images/img-mission-background.jpg');
	display: flex;
	align-items: center;
	justify-content: center;
	height: 700px;
}
.missiontext{
	background-color: black;
	width: 1200px;
}
/* TEAS SECTION*/
.teas{
	width: 1000px;
	height: 700px;
	padding-top: 60px;
	margin: auto;
}
.teashead{
	width: 1000px;
}
.teaspic{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.pic img{
	width: 300px;
	height: 200px;
	margin:5px 15px;
}
/*LOCATIONS SECTION*/
.locations {
	background-image: url('../images/img-locations-background.jpg');
	height: 500px;
	padding-top: 70px;
}
.loclist{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}
.loc{
	width: 300px;
	height: 300px;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 1;
	margin: 0 20px;
}
/*CONTACT SECTION*/
.contact{
	height: 200px;
}
